<div class="container">
    <header>
        <br>
        <br>
        <br>
        <h1>Приглашение к тестированию</h1>
    </header>
    <p>Уважаемый, любимый, незаменимый, ценный, уникальный [USER_NAME], </p>
    <p>Я счастлив пригласить тебя к тестированию нашего нового проекта <a href="[LINK]">[SITE_DOMAIN]</a>. Твое экспертное мнение поможет сделать сервис профессиональнее.</p>
    <p>Для участия в тестировании, пожалуйста, нажми на кнопку ниже:</p>
    <p><a href="[LINK]" class="button"><img class="logo" src="[LOGO]"> Перейти к тестированию</a></p>
    <p>Можешь оставить свой отзыв внутри приложения или ответь на это письмо.</p>
    <p class="subject">Сделай мне больно. Люблю боль.</p>
    <p>Благодарю за поддержку!</p>
    <p>С уважением,<br>Mike Haiduk</p>
    <footer>
        <p>[SITE_DOMAIN] © 2024. Все права защищены лично мной. Я готов драться за них.</p>
    </footer>
</div>