<div class="container">
    <header>
        <br>
        <br>
        <br>
        <h1 class="subject">Приглашение к тестированию</h1>
    </header>
    <p>[USER_NAME], вам открыт доступ на 7 дней к тестированию проекта <a href="[WEB_LINK]">[SITE_DOMAIN]</a>.
        Оставь свое мнение внутри приложения.</p>
    <p><a href="[TG_LINK]" class="button">Перейти к тестированию</a></p>
    <footer>
        <p>Вы получили это письмо автоматически. <a href="[UNSUBSCRIBE_LINK]">Отписаться</a>.</p>
    </footer>
</div>