<div class="container">
    <header>
        <br>
        <br>
        <br>
        <h1 class="subject">Приглашение к тестированию</h1>
    </header>
    <p>Уважаемый [NAME]</p>
    <p>Сегодня мы представляем вам революционную криптовалютную сеть первого уровня [SITE_DOMAIN], которая решает ключевые проблемы, с которыми сталкиваются пользователи существующих блокчейн-платформ. Наша сеть предлагает:</p>

    <p>- <b>Высокую скорость транзакций</b>: Мгновенные подтверждения благодаря новейшему алгоритму консенсуса.</p>
    <p>- <b>Нулевые комиссии</b>: Все комиссии платят майнеры.</p>
    <p>- <b>Повышенную безопасность</b>: 100% защита от перехвата данных и взлома счетов.</p>

    <p>Мы уже видим применение нашей сети в таких сферах, как децентрализованные финансы и смарт-контракты, и наши первые пользователи отмечают значительные преимущества по сравнению с другими платформами.</p>

    <p>Для участия в тестировании, пожалуйста, нажми на кнопку ниже:</p>
    <p><a href="[SITE_LINK]" class="button"><img class="logo" src="[LOGO]"> Перейти к тестированию</a></p>
    <footer>
        <p>Если вы считаете что это письмо было отправлено по ошибке, то вы можете <a href="[UNSUBSCRIBE_LINK]">отписаться</a>.</p>
    </footer>
</div>