<div class="container">
  <header>
    <br>
    <br>
    <br>
    <h1 class="subject">Спасибо за отзыв</h1>
  </header>
  <p>Добрый день [NAME]</p>
  <p>Благодарим вас за то, что нашли время оставить отзыв о нашем продукте. Мы очень ценим ваши комментарии и рады, что вы поделились с нами своим мнением.</p>
  <p>Мы всегда стремимся к улучшению и стараемся учитывать все ваши предложения и замечания. Ваш отзыв поможет нам в дальнейшем развитии и совершенствовании нашего сервиса.</p>
  <p>[MESSAGE]</p>
  <p>Мы высоко ценим ваш вклад и надеемся, что продолжите пользоваться нашими продуктами. Если у вас есть дополнительные вопросы или предложения, пожалуйста, не стесняйтесь обращаться к нам.</p>
  <p>С наилучшими пожеланиями <img class="logo" src="[LOGO]"> [SITE_DOMAIN]</p>
  <footer>
    <p>Если вы считаете что это письмо было отправлено по ошибке, то вы можете <a href="[UNSUBSCRIBE_LINK]">отписаться</a>.</p>
  </footer>
</div>
